/* our main css
*/

body{
    font: 18px/20px Gafata, "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    margin:0px;
    
}
.u_container{
    width:100%;
    margin-top:0px;
    margin-bottom:0px;
    background-image: url('../img/test-image.jpg');
    
}
.content{
    position:relative;
    
}
.content{
    width:95%;
    margin-left:auto;
    margin-right:auto; 
}
.u_header{
    background-color:black;
    margin:0;
    opacity:0.8;
    
}
.logo{
  margin-top: -20px;
}
.navigation{
  position:absolute;
  top:0px;
  right:0px;
}
.u_nav{
  position:relative;
  right:0;
}
.u_nav ul{
  font-size:17px;  
}
.u_nav li{
    float:left;
    list-style:none;
    margin-right:20px;
}
.u_nav li a{
    text-decoration: none;
    color:white;
}
.u_nav .list:hover {
    display:block;
    background-color:#4682B3;
    padding:10px 10px 10px 10px;
}

#banner{
    background-image: url('../img/test-image.jpg');	
    width:100%;
    height:300px;
}
.message span{
    position:relative;
    top:50px;
    left:30px;
    font-size:90px;
    font-family: Tangerine, Arial, Verdana, sans-serif;
}
.signup_button{
    position:absolute;
    top:0px;
    right:0px;
    margin-top:190px;
}
.u_button{
    color:white;    
    cursor:pointer;   
    font-family: Gafata, Arial, Verdana, sans-serif;
    background-image: -moz-linear-gradient(to bottom, #5C8BB2, #4E85B2);
    background-image: linear-gradient(to bottom, #5C8BB2, #4E85B2);
   
    background-repeat: repeat-x;
   
}
.u_button{
  border-radius:3px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border:1px;
  padding:5px 10px 5px 10px;
  font-size:20px;
}
.u_button:hover{
    background-image: -moz-linear-gradient(to bottom, #0092DB, #235ED3);
    text-decoration: none;
    color:black;
}
.for_search{
    background-color:#4682B3;
    height:30px;
}
#search{
    position:absolute;
    right:0px;
}
.search{
float:left;
list-style:none;

}


.description{
    border:1px thin #E0E0E0;
    background-color:#E8E8E8;
    font-size:21px;
    line-height: 1.7;
}
.description{
    margin-top:40px;
    padding:10px 20px 10px 20px;
    border-radius:8px;

}
.u_heading {
    padding-bottom:0px;
    border-bottom:1px solid #cccccc;
    margin-bottom:25px;
    
}
.u_heading h2{
    margin:10px 0 0px 0;
    text-shadow:0px 1px 0px white;
}
#u_link{
    float: right;
    position: relative;
    top: -26px;
}
#u_link a{
    text-decoration:none;
    color:#0044cc;
}
#u_link a:hover{
   text-decoration:none;
    color:white;
    cursor:pointer;
}
.u_activity a{
    text-decoration:none;
    color:#0044cc;  
}
.u_activity a:hover{
    text-decoration:none;
    color:white;
    cursor:pointer; 
}

.u_row{
   margin-top:35px;
}
.u_row_lg{
    margin-top:70px;
}

.u_activity{
    width:200px;
    margin-right:39px;
    float:left;
}
.u_footer{
    margin-top:150px;
    background-color:#4682B3;
    margin-bottom:0px;
    padding:5px 0px 0 0px;
    overflow:auto;
}
.u_footer_nav{
  position:relative;
  right:0;
}
.u_footer_nav li a{
    padding:5px 20px;
}
.u_footer_nav{
  font-size:12px;  
}
.u_footer_nav  li{
    list-style:none;
    margin-right:13px;
}
.u_footer_nav li a{
    text-decoration: none;
    color:white;
}
.copyright{
    background-color:black;
    opacity:0.9;
    color:white;
    
}

#copyText{
    padding-top:5px;
    font-size:10px;
}
.u_links{
    float:left;
}
.u_social{
    float:left;
}
.footer_content{
    border-bottom:1px solid white;
}

/** icons css **/
.icon-search{
    margin-top:5px;
}



@media (max-width:990){
    .u_activity img{
        width:20px;
        height:100px;
    }
}
/* for the navigation bar*/
.list a, .active a{
    color:white;
}
.list a:hover{
    color:black;
    cursor:pointer;
}
.active {
    background-color:steelblue;

}
.active a:hover{
   color:black;
   cursor:pointer;
}
/*for the navigation menu*/
.list-menu{
    border-bottom:1px solid #cccccc;
    
}
.navigation-menu{
    border:1px solid #cccccc;
}
.active-menu{
    background-color:steelblue;
  
}
.active-menu a{
    color:white;
}
.diff{
    color:black;
}
/* for the search in the homepage*/
.form-control-min{
    background-color: #FFFFFF;
background-image: none;
border: 1px solid #CCCCCC;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
color: #555555;
display: block;
font-size: 20px;
height: 30px;
line-height: 1.5;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 0px;
border-top-left-radius: 4px;
}
/* for the main content in the homepage*/
.main_content{
  width:210%;
  margin-top:-15px;
  margin-bottom:100px;
}
.a_content{
    border-left:8px solid steelblue;
    margin-bottom:25px;
    padding:0px 5px 35px 10px;
}
.links_project{
    padding-top:0px;
    padding-bottom:0px;
    margin-right:20px;
}
.recent{
    padding:5px 6px 5px 6px;
    border-radius:6px;
    border:1px solid #cccccc;
}
.recent_activity{
     border-bottom:1px solid #cccccc;
}

.activity_li{
    border-bottom:1px solid #cccccc;
}
.lower_row{
    margin-top:-130px;
}

/*for the login page input*/
.sensitive_info{
    font-size:18px;
   
}

.welcome 
{
    height:400px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border:1px thin #E0E0E0;
    background-color:#E8E8E8;
    font-size:21px;
    line-height: 1.7;
    border-radius:8px;
  
}
#right_panel
{

    float: right;
    background-color:;
    height: 340px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}
#left_panel
{
    float:left;
    border-right: 1px solid gray;
    height: 340px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.profIcon{
    margin-left: 50px;
    margin-right: 50px;

}
.u_button_welcome{
    margin-left: 100px;
    margin-right: 100px;

}
#message{
    margin-left:40px;
    font-family:Gabriola,Arial,Verdana,sans-serif;
    font-size:40px;
    color:black;

}
#line1
{
    margin-left: 65px;
    margin-right: 65px;
}
#line2
{
    margin-left: 100px;
    margin-right: 100px;
}

/* for customizing error message in login*/
.error_message_login{
    color:#CE0C0C;
}

.container_info{
    border-radius: 5px;
    float:left;
    position: absolute;
    top:200px;
    left:2px;

}

.edit_button
{

 margin-top:20px;
 float:right;

}
.event_container
{
    position: absolute;
    left:1000px;
    top:500px;
}

/**** USER FORMS FOR ADDING EVENTS & PROJECTS *******/
.user_form{
  margin-top: 100px;
  padding-left: 10px;
}

.user_form input[type=submit], .user_form input[type=reset]{
    margin-top: 10px;
    float: right;
    margin-left: 10px;
}

.user_photo img{
    width: 120px;
    height: 120px;
}

.user_photo a{
    display: block;
    margin-top: 10px;
}

.user_photo a:hover{
    text-decoration: none;
}

.user_form label{
    font-size: 12px;
    color:#444;
}

.user_nav{
    margin-top: 10px;
}

.initiator{
    margin-left: 14px;
}

.tag{
    font-size: 14px;
    color:#444;
}

.content_list{
    border-left: 8px solid steelblue;

}
/* for the denied page */

.denied_message{
    padding:8px 10px 8px 10px;
    margin-left:40px;
    font-family:Gabriola,Arial,Verdana,sans-serif;
  
    color:black;
}
